# Ignore node_modules
client/node_modules/

# Ignore build output
client/build/

# Ignore environment files
client/.env

# Ignore log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# Ignore IDE-specific files (optional)
.vscode/
.idea/
.DS_Store
