<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#each profile as |b|}}
    <h4>{{b.title}}</h4>
    <img src=" {{b.image}}" alt="Error loading image">
    {{/each}}
</body>
</html>